name: Deploy to Cloud Run
on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Deploy to Cloud Run
        env:
          PROJECT_ID: ms-model-lib
          REGION: asia-east1
          DATABASE_INSTANCE: model-sql

        uses: google-github-actions/deploy-cloudrun@v0.6.0
        with:
          service: backend
          source: .
          region: ${{ env.REGION }}
          credentials: ${{ secrets.CHT_FIVEG_GCP_SA_KEY }}
          env_vars: PRODUCTION=true,DB_USER=${{ secrets.DB_USER }},DB_PASS=${{ secrets.DB_PASS }},SQL_HOST=${{ secrets.SQL_HOST }},DJANGO_SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }},API_HOST=${{ secrets.API_HOST }}
          flags: "--add-cloudsql-instances '${{ env.PROJECT_ID }}:${{env.REGION}}:${{env.DATABASE_INSTANCE}}'"